<mat-card class="login-card" style="width: 60%; margin: 20%;">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- FORM HERRE -->
        <form class="login-form">
            <mat-form-field>
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>

        </form>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
</mat-card-content>    